.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  background-color: #be2de2;
  border-radius: 15px;
  display:flexbox;
  height: auto;
}

.quote-container{
  /* background-color: #8b00ad; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote-container .quote{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  /* text-shadow: 5px 3px black; */
}
.quote-container .author{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  font-style: italic;
  font-size: 15px;
  text-align:center
  /* margin-right: 35px; */
  /* text-shadow: 5px 5px black; */
}
.quote-container .date{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  /* margin-right: 35px; */
}

.search-container{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  align-items: center;

}

.search-container .btn-primary {
  border-radius: 15px;
  background-color: #9bdd00; /* Green color */
  border-color: #9bdd00;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Change the color of the search button on hover */
.search-container .btn-primary:hover {
  background-color: #9bdd00; /* Darker green color on hover */
  border-color: #9bdd00;
  transform: scale(1.1);
  transition: 0.25s;
}


header{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  .container{
    background-color: #be2de2;
    border-radius: 5px;
    display:flexbox;
    height: auto;
  }

  .quote-container .author{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 20px;
    text-align:right;
    margin-right: 35px;
    /* text-shadow: 5px 5px black; */
  }

  .quote-container .quote{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    /* text-shadow: 5px 3px black; */
  }

  .quote-container .date{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin-right: 35px; */
  }

  .search-container{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    align-items: center;
  
  }
}
